@{
    ViewBag.Title = "More about me!";
}
<h2>@ViewBag.Title.</h2>

<strong>Hello! My name is Kostadin! I am student in University of economics Varna!</strong>
<h4>And... Here I am!</h4>

<img class="img-responsive" src="~/Images/koce.jpg" />
