@{
    ViewBag.Title = "Contact information!";
}
<h2>@ViewBag.Title.</h2>


<address>
   Address: Bulgaria,<br />
    Varna, Mladost 28,<br />
    <abbr title="Phone"></abbr>
    Phone: +359 883 467279
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">kostadinivanov4444@gmail.com</a><br />
</address>